        .navbar-custom {
            background-color: #482C79;
        }

        /* change the brand and text color */
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: white;
        }

        /* change the link color */
        .navbar-custom .navbar-nav .nav-link {
            color: white;
        }

        /* change the color of active or hovered links */
        .navbar-custom .nav-item:hover .nav-link {
            color: rgba(255, 255, 255, .5);
        }

        footer {
            width: 100%;
            background-color: #482C79;
            padding: 5%;
            color: white;
        }
